@font-face {
  font-family: "HelveticaNeueCyr";
  src: local("HelveticaNeueCyr-Bold"),
    url("../fonts/HelveticaNeueCyr-Bold.woff2") format("woff"),
    url("../fonts/HelveticaNeueCyr-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "HelveticaNeueCyr";
  src: local("HelveticaNeueCyr-Medium"),
    url("../fonts/HelveticaNeueCyr-Medium.woff2") format("woff2"),
    url("../fonts/HelveticaNeueCyr-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "HelveticaNeueCyr";
  src: local("HelveticaNeueCyr-Roman"),
    url("../fonts/HelveticaNeueCyr-Roman.woff2") format("woff2"),
    url("../fonts/HelveticaNeueCyr-Roman.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
:root {
  --text-color: #333333;
  --disabled-text: #F4F4F4;
  --label-text: #C4C4C4;
  --inner-shadow: #B5B5B5;
  --primary: #7B61FF;
  --succes: #5EE48C;
  --error: #FF6161;
}
html,
body {
  height: 100%;
  overflow-x: hidden;
  font-size: 16px;
  line-height: 19px;
  color: var(--text-color);
}
body {
  font-family: "HelveticaNeueCyr", Arial, sans-serif;
}
#root {
  height: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  background-color: var(--main-bg-color);
  height: 100%;
}
.main__wrapper{
  width: 100%;
  height: 100%;
  background-color: #E3E3E3;
  padding: 30px 80px 10px 80px;
  box-sizing: border-box;
}
.main__header{
  background-color: white;
  width: 100%;
  height: 60px;
  box-sizing: border-box;
  padding: 0 20px;
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 1);
}

.main__header-wrap{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.main__header-lnk{
  font-size: 24px;
  line-height: 33px;
  color: var(--text-color);
  text-decoration: none;
  margin-right: 10px;
}
.lnk-active{
  border-bottom: solid 2px  var(--primary);
}
.main__header-profile{
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.main__header-username{
  font-size: 16px;
  line-height: 19px;
  color: #333333;
  margin-right: 10px;
}
.main__header-userfoto{
  border: solid 1px var(--primary);
  border-radius: 50%;
}
.taskBoard_title{
  height: 28px;
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.taskBoard_title-name{
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  color: var(--text-color);
}
.taskBoard_title-buttons{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.btn{
  height: 24px;
  border: 1px solid #333333;
  box-sizing: border-box;
  border-radius: 5px;
  display: flex;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 5px;
}

.default{
  background-color: #F4F4F4;
}
.default:hover{
  background-color: #E1E1E1;
}
.default:active{
  background-color: #CFCFCF;
}

.primary{
  background-color: #7B61FF;
  color: white;
}
.primary:hover{
  background-color: #8A73FF;
}
.primary:active{
  background-color: #715BE3;
}

.success{
  background-color: #5EE48C;
}
.success:hover{
  background-color: #80F0A6;
}
.success:active{
  background-color: #4BD379;
}

.error{
  background-color: #FF6161;
}
.error:hover{
  background-color: #FF8080;
}
.error:active{
  background-color: #D65D5D;
}

.disabled{
  background-color: #B5B5B5;
}

.task{
  width: 100%;
  height: 70px;

}
.task:nth-child(2n){
  background-color: #F2F2F2;
}
.task_inner{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin:0 -7px;
}
.task_inner-item{
  margin: 0 7px;
  box-sizing: border-box;
}
.task_type{
  width: 8%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.task_name{
  width: 48%;
  display: flex;
  align-items: center;
}
.task_autor{
  width: 15%;
  display: flex;
  align-items: center;
}
.task_status{
  width: 10%;
  display: flex;
  align-items: center;
}

.task_status-btn{
  height: 20px;
  border: solid 1px black;
  border-radius: 3px;
  padding: 0 5px;
}

.open{
  background-color: #CCCCCC;
}
.inwork{
  background-color: #FFC700;
}
.ready{
  background-color: #4BD379;
}

.task_priority{
  width: 10%;
  display: flex;

  align-items: center;
  padding-left: 15px;
  background-repeat: no-repeat;
  background-position-x: 0;
  background-position-y: center;
}
.low{
  color: #3CA961;
  background-image: url(../img/low_pr.png);
}
.middle{
  color: #E9B500;
  background-image: url(../img/middle_pr.png);
}
.hight{
  color: #D14343;
  background-image: url(../img/hight_pr.png);
}

.task_btn{
  width: 10%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.task_list{
  border-radius: 3px;
  border: solid 1px var(--inner-shadow);
}

.task_board{
  background-color: #ffffff;
  height: 100%;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 3px #B5B5B5;
}

.sorting_list{
  width: 100%;
  margin-bottom: 20px;
  height: 25px;
  display: flex;
  flex-direction: row;
  margin: 0 -7px 20px -7px
}
.sorting_item{
  margin: 0 7px;
  height: 100%;
  border-color: #CFCFCF;
  border-radius: 3px;
  width: 100%;
  color: var(--label-text);
  box-sizing: border-box;
  position: relative;
}
.sorting_item-name{
  height: 25px;
  display: block;
  margin: auto;
  border: var(--label-text) solid 1px;
  border-radius: 3px;
  box-sizing: border-box;
  color: var(--label-text);
  padding: 0 5px;
  
  z-index: 99;
  
}
.sorting_item-checkbox{
  display: none;
  width: 100%;
  margin-top: -25px;
  top: -2px;
  padding: 5px;
  padding-top: 25px;
  box-sizing: border-box;
  border: #715BE3 1px solid;
  box-shadow: 0px 0px 2px 2px rgba(123, 97, 255, 0.5);
  border-radius: 3px;
  color: var(--text-color);
  background-color: #fff;
  z-index: 2;
}

.sorting_item:hover > .sorting_item-checkbox {
display: block;
}

.sort-type{
  width: 8%;
}

.sort-name{
  width: 47%;

}
.sort-autor{
  width: 15%;

}
.sort-status{
  width: 10%;

}
.sort-priority{
  width: 10%;

}
.sort-btn{
  width: 10%;
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  left: -115px;
  top:  35px;
  padding: 0 5px;
  width: 120px;
  z-index: 1;
  background-color: white;
  box-shadow: 0px 0px 2px 2px rgba(123, 97, 255, 0.5);
  border-radius: 5px;
  font-size: 12px;
  line-height: 14px;  
}

.visable{
  display: block;
}
.dropdown-btn{
  color: var(--primary);
  font-weight: 600;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  text-align: center;
}
.dropdown-btn:hover,
.dropdown-active{
  background-color: var(--primary);
  color: white;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content p:hover {background-color: #ddd}

.taskPage_board{
  background-color: #ffffff;
  height: 100%;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 3px #B5B5B5;
  display: flex;
  flex-direction: row;
}
.taskPage-data{
  width: 26%;
}
.taskPage-info{
  width: 35%;
  padding: 0 20px;
  border-right: #B5B5B5 solid 2px;
  border-left: #B5B5B5 solid 2px;
}
.taskPage-comments{
  width: 40%;
  padding: 0 20px;
}
.taskPage-title{
  color: var(--label-text);
}
.taskPage-textArea{
  width: 100%;
  height: 100px;
}