.taskPage{
  background-color: #ffffff;
  height: 100%;
  min-height: 60vh;
  display: flex;
  flex-direction: row;
  &-data{
    width: 26%;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
  }
  &-info{
    display: flex;
    flex-direction: column;
    width: 35%;
    padding: 0 20px;
    border-right: #B5B5B5 solid 2px;
    border-left: #B5B5B5 solid 2px;
  }
  &-comments{
    width: 40%;
    padding: 0 20px;
  }
  &-title{
    color: var(--label-text);
    margin: 0 0 5px 0;
  }
  &-textArea{
    width: 100%;
    height: 100px;
  }
  & p{
    margin: 0 0 20px 0;
  }
}
